*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: brown;
    color:white;
    height:5rem;
    line-height:5rem;
    text-align: center;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items:center;

}
.choice:hover{
    cursor: pointer;
    background-color: black;
}  
img{
    height: 150px;
    width: 150px;
    text-align: center;
    border-radius:50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}
    
#user-score,
#computer-score{
    font-size:4rem;
}
.msg-container{
    margin-top: 5rem;
    text-align: center;
}

#msg{
    background-color: black;
    color:bisque;
    text-align: center;    
    font-size:2rem;
    display:inline;
    padding:2rem;
}